# 딕셔너리 관련 함수

In [15]:
# 키 리스트 만들기

a={'name':'pey', 'phone':'010203030', 'birth':'293949'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [4]:
for k in a.keys():
    print(k)

name
phone
birth

In [7]:
# 객체를 리스트로 반환하려면

list(a.keys())

['name', 'phone', 'birth']

In [9]:
# 밸루 리스트 만들기

a.values()

dict_values(['pay', '01020394', '1118'])

In [11]:
# 키와 밸류 쌍으로 얻기

a.items()

dict_items([('name', 'pay'), ('phone', '01020394'), ('birth', '1118')])

In [14]:
# 키와 밸루 쌍 모두 지우기

a.clear()
a

{}

In [18]:
# 키로 밸류 얻기
# 존재하지 않는 키로 값을 가져오라 하면 none으로 돌려준다

a={'name':'pey', 'phone':'010203030', 'birth':'293949'}
print(a.get('nokey'))

None

In [19]:
# 딕셔너리 안에 찾으려는 키 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 한다

a.get('foo','bar')

'bar'

In [20]:
# 해당 키가 딕셔너리 안에 있는지 조사하기

a={'name':'pey', 'phone':'010203030', 'birth':'293949'}
'name' in a

True

# 집합 자료형

In [21]:
# 집합 자료형 만들기

s1=set([1,2,3])
s1

{1, 2, 3}

In [23]:
# set은 중복을 허용하지 않고, 
# 순서가 없다 -> 인덱싱을 통해 값을 얻을 수 없다. 이는 딕셔너리와 마찬가지임.

s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [24]:
#리스트로 변환

l1=list(s1)
l1

[1, 2, 3]

In [25]:
#튜플로 변환

t1=tuple(s2)
t1

('e', 'o', 'l', 'H')

In [27]:
#교집합 구하기

s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

s1&s2

{4, 5, 6}

In [28]:
s1.intersection(s2)

{4, 5, 6}

In [29]:
#합집합 구하기

s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
# 차집합 구하기

s1-s2

{1, 2, 3}

In [32]:
s1.difference(s2)

{1, 2, 3}

In [34]:
# 값 추가하기(1개)

s1.add(10)
s1

{1, 2, 3, 4, 5, 6, 10}

In [35]:
# 값 추가하기(여러 개)

s1.update([20,21,22])
s1

{1, 2, 3, 4, 5, 6, 10, 20, 21, 22}

# 불 자료형

In [40]:
a=[1,2,3,4]
while a:
    a.pop()
    
a

[]

# 변수

In [41]:
# b 변수를 생성할 때, a 변수의 값을 가져오면서 a와는 다른 주소를 가리키도록 만드는 법

a=[1,2,3]
b=a[:]
a[1]=4
a

[1, 4, 3]

In [42]:
b

[1, 2, 3]

In [44]:
# copy 모듈 사용. 같은 값을 가지면서 다른 객체 생성

from copy import copy
a=[1,2,3]
b=copy(a)

b is a

False