# 파이썬의 함수

In [1]:
def add(a,b):
    return a+b
add(3,4)

7

# 파이썬의 연산

In [3]:
# 나눗셈 후 나머지를 반환하는 % 연산자

7%3

1

In [6]:
# 나눗셈 후 몫을 반환하는 // 연산자

7//3

2

# 문자열 자료형

In [13]:
# 줄을 바꾸는 이스케이프 코드

multiline='''
Life is too short
You need python
'''

print(multiline)

Life is too short
You need python

In [16]:
# 문자열 길이 구하기

a= "Life is too short"
len(a)

17

In [18]:
# [-n]: 뒤에서 n번째 되는 문자

a= "Life is too short, You need python"
a[-1]

'n'

In [20]:
# 문자열 슬라이싱-> a [시작번호: 끝번호] 끝번호에 해당하는 문자는 포함하지 않는다.

a= "Life is too short, You need python"
a[0:4]

'Life'

## 문자열 포매팅 -> 문자열 안의 특정한 값을 바꿔야 할 경우

In [22]:
# %d:정수, %f: 소수, %s: 문자 -> 특별하게 어떤 형태의 값이든 변환해 넣을 수 있다. 자동으로 문자열로 바꿈
# 뒤에 %가 있다면 ex) %d%%

number=10
day="three"
"I ate %d apples. so I was for %s days." %(number,day)

'I ate 10 apples. so I was for three days.'

In [25]:
#정렬과 공백
"%10s" %"hi"

'        hi'

In [27]:
#정렬과 공백
"%-10s" %"hi"

'hi        '

In [30]:
#소숫점 표현
"%0.4f" %3.4563456

'3.4563'

In [32]:
# 공백 + 소숫점 
"%10.4f" %3.4563456

'    3.4563'

## format 함수를 사용한 포매팅

In [34]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [36]:
# 숫자 값을 가진 변수로 대입

number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [38]:
# 2개 이상의 변수 대입. {} 인덱스 항목도 순서에 맞게 바꿈

number=10
dat="three"
"I eat {0} apples. so I was sick for {1} days.".format(number,day)

'I eat 10 apples. so I was sick for three days.'

In [40]:
# 이름으로 넣기

"I eat {number} apples. so I was sick for {day} days.".format(number=10,day="three")

'I eat 10 apples. so I was sick for three days.'

In [42]:
# 정렬

#오른쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [44]:
#왼쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [46]:
#가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [50]:
#공백 채우기: <, >, ^ 바로 앞에 넣아야 한다.

"{0:=<10}".format("hi")

'hi========'

In [52]:
#소숫점 표현하기

y=3.2384723578
"{0:0.4f}".format(y)

'3.2385'

In [55]:
# 문자 표현하기

"{{and}}".format()

'{and}'

## f 문자열 포매팅

In [56]:
name="홍길동"
age=30

f"나의 이름은 {name}입니다. 나이는 {age} 입니다"

'나의 이름은 홍길동입니다. 나이는 30 입니다'